<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/assets/css/Libraries/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<title>{{page-title}}</title>
</head>

<body>


    <div class="bg-image">
        <div class="bg-overlay"></div>
    </div>


    <div class="row contenido" id="fila-principal">
        <header class="text-center shadow" style="height: 50px; color:white;">
            <h3 class="mb-3" style="color: black;">EatApp</h3>
        </header>

        <div class="row">
            <div class="col-6 col-sm-6 d-flex m-auto justify-content-center">
                <nav class="navbar navbar-expand-lg ">
                    <div class="nav-navbar" style="color: white;">
                        <a class="nav-link active" aria-current="page" href="/" title="Home"><i
                                class="bi bi-house"></i></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-12 col-sm-12">{{{body}}}</div>
    </div>
    <script type="module" src="/assets/js/index.js"></script>
    <script src="/assets/js/Libraries/bootstrap/bootstrap.min.js"></script>

</body>


</html>