<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-5">
        <div class="card mt-5 shadow">
            <div class="card-header text-center" style="background-color: #9a3950; color:white">
                <h3 class="card-title">Configuracion</h3>
            </div>
            <div class="card-body">
                <form action="/admin/configurations/itbis/update" method="POST" class="form">
                    <input type="hidden" name="id" value="{{ITBIS.id}}">
                    <label for="itbis" class="form-label mt-2" style="font-weight: bold;">{{ITBIS.key}}</label>
                    <input type="number" class="form-control" name="value" id="itbis" value="{{ITBIS.value}}"
                        placeholder="%" aria-label="%" step="0.01" min="0" max="100">
                    <div class="float-end mt-2">
                        <a href="/admin/configurations/itbis/home" class="btn btn-warning">Volver</a>
                        <button class="btn btn-dark" style="background-color: #9a3950;" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>