<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-3">
        <div class="card mt-5 shadow">
            <div class="card-header text-center" style="background-color: #9a3950; color:white">
                <h3 class="card-title">Configuracion</h3>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">{{ITBIS.key}}</h5>
                <h3 class="fw-bold">{{ITBIS.value}}</h3>
                <a class="btn btn-warning btn-sm" href="/admin/configurations/itbis/update">
                    Editar
                </a>
            </div>
        </div>
    </div>
</div>