.img-size{
    width: 100%;
    height: 430px;
    object-fit: contain;
}

.btn-volver {
    color: white;
    margin: 10px;
    margin-left: 10px;
    width: 100px;
    background-color: #34406a;

}

.btn-volver:hover {
    color: white;
    background-color: rgb(220, 136, 46);
}

.btn-client-style{
    width: 150px; 
    height: 150px;
}