@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
}
.btn-volver {
    color: white;
    margin: 10px;
    margin-left: 10px;
    width: 100px;
    background-color: #34406a;

}
.btn-volver:hover {
    color: white;
    background-color: rgb(220, 136, 46);
}
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h3 h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 10px;
}

ul {
    list-style: none !important;
    color: white !important;
    
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}

ul li {
    display: inline;
}

ul li a {
    color:#2A2C41!important;
    text-decoration: none !important;
    margin: 30px !important;
    font-weight: bold !important;
      
}

a {
  color: inherit;       
  text-decoration: none; 
}

a:hover {
  color: inherit;  
}

.seccion-lateral {
    position: relative;
    min-height: 100svh;
    display: flex;
    justify-content: center;
}
input:focus,
select:focus {
    border-color: #000000a5 !important;
    box-shadow: 0 0 5px #00000090!important;
}

/*Store*/
.navbar-store {
    background-color: #6f4132 !important;
    color: white;
}
.seccion-lateral-store {
  background-color:#6f4132  ;
    position: relative;
    min-height: 100svh;
    display: flex;
    justify-content: center;
}

/*client*/
.navbar-client{
      background-color:  #5d1a1a !important;
    color: white;
}
.seccion-lateral-client {
  background-color:#5d1a1a ;
    position: relative;
    min-height: 100svh;
    display: flex;
    justify-content: center;
}

.client-option{
      margin: 15px !important;
    font-weight: bold !important;
}

/* admin */
.seccion-lateral-admin {
  background-color: #2A2C41;
    position: relative;
    min-height: 100svh;
    display: flex;
    justify-content: center;
}
.navbar-admin {
    background-color: #2A2C41 !important;
    color: white;
}


/* Colores que podria usar como paleta */
/* 

FF724C -- Naranja oscuro
#fdbf50 -- Naraja mas amarillo 
2A2C41 -- azul oscuro
F4F4F8 -- blanco 
#982b2b -- rojo cachu

*/